MONGO_URI=your_uri
JWT_SECRET=syncsphere_jwt_super_secret_key_2026
PORT=5000

USE_HTTPS=true

CLOUDINARY_CLOUD_NAME=urname
CLOUDINARY_API_KEY=urkey
CLOUDINARY_API_SECRET=urapi

# Email Configuration
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=uruser
EMAIL_PASS=urpass